<!-- partie 1 -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-primary">Bonjour Angular</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
</div> -->


<!-- partie 2 -->
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)"
               (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element 
         *ngFor="let serverElement of serverElements"
         [srvElement]="serverElement"></app-server-element>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
